#=================================================
###  MANIFEST.ini  ###
#=================================================

# This file is used to include non python files.
#-------------------------------------------------
include hola_mundo/util/config.yaml
