#=================================================
###  MANIFEST.ini  ###
#=================================================

# Example of how to include data files..
#-------------------------------------------------
include README.md
include VERSION
include hola_mundo/util/config.yaml
